{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'items/css/styles.css' %}">
    <meta http-equiv="Content-Type" CONTENT="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'items/images/main.ico' %}" type="image/x-icon"/>
    <meta name="viewport" content="width-device-width, initial-scale=1.0 ">

</head>
<body>
{% block mainmenu %}
<ul>
    {% for m in menu %}
 <li>{{m}}</li>
    {% endfor %}
</ul>
{% endblock mainmenu %}

{% block content %}
{% endblock content %}

</body>
</html>